/* Signup Page Styling */
/* .sign-up-container {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #333;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 14px;
  color: #666;
  text-align: left;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  background: #81b673;
  color: rgb(39, 37, 37);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #c4ecb9;
} */
  /* Login designs  */

  #login-page {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#login-form label {
    font-size: 14px;
    color: #666;
    text-align: left;
}

#login-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

#login-form input:focus {
    border-color: #007bff;
    outline: none;
}

#login-form button {
    padding: 10px;
    background: #81b673;
    color: rgb(39, 37, 37);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#login-form button:hover {
    background: #c4ecb9;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Reset password Design */
.reset-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f6f8;
}

.reset-card {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.reset-card h2 {
  margin-bottom: 25px;
  color: #333;
  font-weight: 600;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.reset-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: border-color 0.2s ease;
}

.reset-form input:focus {
  border-color: #81b673;
}

.reset-form button {
  padding: 12px;
  border-radius: 6px;
  background-color: #81b673;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.reset-form button:hover {
  background-color: #81b673;
}

.reset-message {
  margin-top: 20px;
  font-size: 14px;
  color: #d9534f;
}
